In [ ]:
import findspark
findspark.init()

import pyspark

from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.getOrCreate()

### Load sparksql magic to execute SQL with spark

In [ ]:
%load_ext sparksql_magic
%alias_magic --cell sql sparksql

In [ ]:
%%sql
SELECT
s.sp`spa ces`.`sp aces`
    s.books.ch,
    s.books.chapters.paragraph,
    s.map_col.key.key.end,
    s.aged, 
    s.books
FROM
student s

In [ ]:
%%sql

SELECT
s.books['title'].chapters[0].paragraph,
s.books['title'].chapters[0].paragraph
FROM student s

In [ ]:
%%sql
SELECT 
    transform(array(1, 2, 3), x -> x + 1),
FROM
    stude

In [ ]:
%%sql
SELECT
    transform(array(1, 2, 3), (x, i) -> x + i)
FROM
    student

In [ ]:
%%sql
SELECT * FROM person
    PIVOT (
        SUM(age) AS a, AVG(class) AS c
        FOR (name, age) IN (('John', 30) AS c1, ('Mike', 40) AS c2)
    );

In [ ]:
%%sql
SELECT DATE('2020-01-01')

In [ ]:
%%sql
SELECT
CAST('12' AS INT),
X'123456' AS col,
NULL AS col,
9223372036854775807L AS col

In [ ]:
%%sql

-- CTE with multiple column aliases
WITH t(x, y) AS (SELECT 1, 2)
SELECT * FROM t WHERE x = 1 AND y = 2

In [ ]:
sql = '''
--start-sql-syntax
SELECT
e.commision_pct,
e.`spa ces`.`sp aces`
FROM
student e
WHERE
e.department_id = 1
and e.first_name

--end-sql-syntax


'''

print(sql)